[submodule "coinbin"]
	path = coinbin
	url = https://github.com/ReinProject/coinbin.git
[submodule "bitcoin-signature-tool"]
	path = bitcoin-signature-tool
	url = https://github.com/ReinProject/bitcoin-signature-tool.git
